
<div class="container-fluid">
    <h1 class="display-3">Мои мероприятия</h1>
    <div class="d-flex flex-column bd-highlight mb-3">
            <div *ngFor = "let item of items">
                <app-post [imageUrl]="item.url" [title]="item.title" [text] = "item.desc"> </app-post>
            </div>
    </div>

<nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Вперед</a>
            </li>
        </ul>
    </nav>
</div>
    
